/* CSS Boiler Plate */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

/* Main Page */
.main{
    height: 100%;
    width: 100%;
}

/* Navigation Bar */
nav{
    height: 3.2vw;
    width: 100%;
    background-color: #F5F5F7;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Navigation Bar / Unordered List */
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Navigation Bar / Unordered List List */
nav ul li{
    margin-right: 2.7vw;
}
/* Navigation Bar / Unordered List List / a Tags */
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 0.9vw;
  font-weight: 500;
}
/* Navigation Bar / Apple Logo */
nav #nav-apple-logo{
    font-size: 1.3vw;
}
/* Navigation Bar / Search Bar Logo */
nav #nav-search-bar{
    font-size: 1.3vw;
}
/* Navigation Bar / Shopping Bag Logo */
nav #nav-shopping-bag{
    font-size: 1.3vw;
}

/* Offers And Discount Section */
.discount{
    height: 6vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
/* Offers And Discount Section / Paragraph */
.discount p{
    text-align: center;
    line-height: 1.5vw;
    font-size: 1vw;
}
/* Offers And Discount Section / Arrows */

.discount #arrow-left{
    margin-left:14.5vw;
    font-size: 1.4vw;
}
.discount #arrow-right{
    margin-right: 14.5vw;
    font-size: 1.4vw;
}
/* Offers And Discount Section / Paragraph / a Tag */
.discount #see-offers{
    color: #3A89D8;
}
/* Offers And Discount Section / ID's Of Arrows */
.discount #arrow-left-a{
    text-decoration: none;
    color: #7a7a90;
}
.discount #arrow-right-a{
    text-decoration: none;
    color: #7a7a90;
}
/* Product Page 1 */
.product-page1{
    height: 25vh;
    width: 100%;
    background-color:#F5F5F7;
    display: flex;
    justify-content: space-around;
}
/* Product Page 1 / Paragraph */
.product-page1 p{
  padding: 5.5vw 7vw;
  font-size: 3.4vw;
  color: #7a7a90;
  font-weight: 700;
    
}
/* Product Page 1 / Paragraph / Span ID */
.product-page1 p #bold-store{
    color: black;
}
/* Product Page 1 / Need Shopping help DIV */
.product-page1 .need-shopping-help{
    height: 10vw;
    width: 20vw;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* Product Page 1 / Need Shopping Help DIV / Chat Specialist DIV */
.product-page1 .need-shopping-help #chat-specialist {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  
}
/* Product Page 1 / Need Shopping Help DIV / Chat Specialist DIV / H5 */
.product-page1 .need-shopping-help #chat-specialist h5 {
    font-size: 1vw;
    font-weight: 500;
    margin-top: 1.5vw;
    margin-left: 1vw;
    line-height: 1.3vw;  
}
/* Product Page 1 / Need Shopping Help DIV / Chat Specialist DIV / H5 / a Tag */

.product-page1 .need-shopping-help #chat-specialist h5 a{
    text-decoration: none;
    color: #3A89D8;
}
/* Product Page 1 / Need Shopping Help DIV / Chat Specialist DIV / Img */

.product-page1 .need-shopping-help #chat-specialist img{
    height: 3vw;
    border-radius: 50%;
    margin-left: 1vw;
    margin-top: 1vw;
    
}
/* Product Page 1 / Need Shopping Help DIV / Visit Apple Store DIV */
.product-page1 .need-shopping-help .visit-apple-store{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
       
}
/* Product Page 1 / Need Shopping Help DIV / Visit Apple Store DIV / h5 */
.product-page1 .need-shopping-help .visit-apple-store h5{
    font-size: 1vw;
    font-weight: 500;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
    line-height: 1.3vw;  
        
}
/* Product Page 1 / Need Shopping Help DIV / Visit Apple Store DIV / h5 / a Tag */
.product-page1 .need-shopping-help .visit-apple-store h5 a{
    text-decoration: none;
    color: #3A89D8;
    

}
/* Product Page 1 / Need Shopping Help DIV / Visit Apple Store DIV / SVG */
.product-page1 .need-shopping-help .visit-apple-store svg{
    height: 3vw;
    border-radius: 50%;
    margin-left: 1.5vw;
    margin-top: 1vw;

}
/* List Of Products Like MAC Iphone and ipad etc */
.all-product{
    height: 50vh;
    width: 100%;
   background-color: #F5F5F7;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* All Products DIV / a Tag */
.all-product a{
    text-decoration: none;
}
/* All Products DIV / img Tag */
.all-product img{
    margin-right: 0.7vw;
    height: 7vw;
    width: auto;
}
/* All Products DIV / a Tag / h5 */
.all-product a h5{
    margin-top: 1vw;
    text-align: center;
    color: black;
    font-size: 1vw;
    font-weight: 500;
}

/* Product Page 2 DIV */

.product-page2{
    height: 100vh;
    width: 100%;
   background-color: #F5F5F7;
    
}
/* Product Page 2 DIV / Paragraph */
.product-page2 p{
   padding-left: 10vw;
   padding-top: 0.5vw;
   font-size: 2vw;
   color: #7a7a90;
   font-weight: 700;

}
/* Product Page 2 DIV / Paragraph / Span Bold ID */
.product-page2 p #latest-product-bold{
    color: black;
}
/* Product Page 2 DIV / Unordered list */
.product-page2 ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2vw;
}
/* Products (Titanium, newphoria, new macbook) */

.titanium{
    height: 35vw;
    width: 29vw;
    
    border-radius: 1.5vw;
    background-image: url(https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-iphone-15-pro-202309?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1692910040844);
    background-size: cover;
    object-fit: cover;
    margin-right: 1.5vw;
}
/* Titanium H5 H3 H4 Tags */
.titanium h5{
    color: #fff;
    padding:1.5vw 2vw;
    font-size: 1vw;
    font-weight: 100;
}
.titanium h3{
    color:#fff;
    padding:0vw 2vw;
    font-size: 2vw;
    font-weight: 570;
}
.titanium h4{
    color:#fff;
    padding:1vw 2vw;
    font-size: 1.2vw;
    font-weight: 100;
}
/* Newphoria H5 H3 H4 Tags */

.newphoria{
    height: 35vw;
    width: 29vw;
   
    border-radius: 1.5vw;
    background-image: url(https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-iphone-15-202309?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1692719973220);
    background-size: cover;
    object-fit: cover;
    margin-right: 1.5vw;
}
.newphoria h5{
    color: #000;
    padding:1.5vw 2vw;
    font-size: 1vw;
    font-weight: 100;
}
.newphoria  h3{
    color:#000;
    padding:0vw 2vw;
    font-size: 2vw;
    font-weight: 570;
}
.newphoria  h4{
    color:#000;
    padding:1vw 2vw;
    font-size: 1.2vw;
    font-weight: 100;
}
/* New-Macbook H5 H3 H4 Tags */
.new-macbook{
    height: 35vw;
    width: 29vw;
    
    border-radius: 1.5vw;
    background-image: url(https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-macbook-pro-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1696964122967);
    background-size: cover;
    object-fit: cover;
    margin-right: 1.5vw;

}
.new-macbook h5{
    color: #000;
    padding:1.5vw 2vw;
    font-size: 1vw;
    font-weight: 100;
}
.new-macbook h3{
    color:#000;
    padding:0vw 2vw;
    font-size: 2vw;
    font-weight: 560;
}
.new-macbook h4{
    color:#000;
    padding:1vw 2vw;
    font-size: 1.2vw;
    font-weight: 100;
}

/* Product Page 2 Li / a */

.product-page2 ul li a{
    text-decoration: none;
}
 .product-page2 ul li .titanium:hover{
    transform: scale(1.01);
     transition: transform;
     transition-duration: 0.3s;
     transition-timing-function: ease-in;
     transition-property: all;
     transition-delay: 0s;
     box-shadow: 2px 2px 2px 2px rgb(0, 0, 0)00;
     transition: box-shadow;
     transition-duration: 0.3s;
     transition-timing-function: ease-in;
     transition-property: all;
     transition-delay: 0s;
 }
 .product-page2 ul li .newphoria:hover{
    transform: scale(1.01);
     transition: transform;
     transition-duration: 0.3s;
     transition-timing-function: ease-in;
     transition-property: all;
     transition-delay: 0s;
     box-shadow: 2px 2px 2px 2px rgb(0, 0, 0)00;
     transition: box-shadow;
     transition-duration: 0.3s;
     transition-timing-function: ease-in;
     transition-property: all;
     transition-delay: 0s;
 }
 .product-page2 ul li .new-macbook:hover{
    transform: scale(1.01);
    transition: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
     transition-delay: 0s;
     box-shadow: 2px 2px 2px 2px rgb(0, 0, 0)00;
     transition: box-shadow;
     transition-duration: 0.3s;
     transition-timing-function: ease-in;
     transition-property: all;
     transition-delay: 0s;
 }